{% extends 'sportFields/base.html' %}

{% block content %}
    <div class="col-md-12 col-md-offset-1">
        <h1> Tampereen urheilukentät </h1>
    </div>
    <br>
    <div class="row">
            <div class="col-md-8 ">
                <table class="table table-striped"><tr><th>Kentan ID</th><th>Nimi</th><th>Sijainti</th><th>Pinta-ala (m2)</th></tr>
                    {% for field in fielddata %}
                        <tr>
                            <td>{{ field.VIHERALUEEN_OSAN_ID }}</td>
                            <td>{{ field.ALUE_NIMI }}</td>
                            <td>{{ field.KAUPUNGINOSA }}</td>
                            <td>{{ field.PINTA_ALA }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4 ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" id="location" name="location" placeholder="Esim.hervanta">
                    <input type="submit" value="Rajaa sijainti"><br>
                    <small>Kaikki tulokset = "all"</small>
                </form>
            </div>
    </div>
    <div><a href="https://data.tampere.fi/data/fi/dataset/tampereen-peli-ja-palloilukentat"> Lähde data.tampere.fi </a></div>
    
{% endblock %}